@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-bold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.rubik-text {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-italic {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

/* Appearance */
body {
    background-color: #282828;
    margin: 0;
    padding: 0;
}

/* Classes */
.navbar {
    display: block;
    color: #c93f3f;
    background-color: #c93f3f;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8vh;
}

.title {
    font-size: 5vh;
    line-height: 1;
    color: white;
    position: fixed;
    margin: 0;
    top: calc(4vh - 2.5vh);
    left: calc((4vw - 2.5vw) / 2);
}

#refresh {
    font-size: 3vh;
    line-height: 1;
    height: 8vh;
    position: fixed;
    border: none;
    display: inline-block;
    margin: 0;
    padding-right: 3vh;
    padding-left: 3vh;
    top: 0;
    right: 0;
}

.available {
    background-color: #c93f3f;
    color: white;
}

.unavailable {
    background-color: #4a1717;;
    color: gray;
}

.spacer {
    display: block;
    color: #c93f3f;
    background-color: #c93f3f;
    margin: 0;
    padding: 0;
    height: 8vh;
    margin: 0;
}

#content-wrapper {
    width: 100vw;
    color: #282828;
}

#content-wrapper > div {
    background-color: white;
    display: block;
    height: 30vh;
    width: 60vw;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}